html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: #4597ba;
}

header {

}

.logo {
    max-width: 20vw;
}

main {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: greenyellow;
}

#main-div {
    height: 30vh;
    width: 90vw;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

    background-color: beige;
}

footer {
    background-color: midnightblue;
    color:antiquewhite;
}    



